<h1><%= @playlist.name %></h1>

<h2>Music Tracks:</h2>
<ul>
  <% @playlist.musics.each do |music| %>
    <li>
      <%= music.title %>
      <% if music.audio_file.attached? %>
        <audio controls>
          <source src="<%= url_for(music.audio_file) %>" type="audio/mp3">
          Your browser does not support the audio element.
        </audio>
      <% else %>
        <p>No audio file attached</p>
      <% end %>
    </li>
  <% end %>
</ul>
<%= link_to 'Back', dashboard_path(current_user.id), class: 'btn btn-secondary mb-3' %>
